<h1>Sign In</h1>
<div>
<%= form_for(:session, url: '/signin') do |f| %>
  <%= f.label "email", "メールアドレス" %>
  <%= f.email_field :email, id: :title_email %><br>
  <%= f.label "password", "パスワード" %>
  <%= f.password_field :password, id: :title_password %><br>
  <%= f.submit "Signin" %>
<% end %>
<p>
<%= link_to 'Add user', '/signup' %>
</div>
