<h1>Update Stock Info</h1>
<%= form_with model:@stock, url: '/stock/upgrade' do |f| %>
    <%= hidden_field_tag :data, @stock.id %>
    <%= f.label "volume", "在庫数" %>
    <%= f.number_field :volume, id: :title_volume %><br>
    <%= f.submit "更新" %>
<% end %>
