<!DOCTYPE html>
<html>
  <head>
    <title>Mujin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to image_tag('mujin_kuro.png', class: "home_img"), '/' %>
      <% if signed_in? %>
        <%= link_to 'signout', '/signin', method: :delete , class: "square_btn" %>
      <% else %>
        <%= link_to 'signin', '/signin' , class: "square_btn" %>
      <% end %>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
